<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" />
    <title>delimited | Chord Transitions</title>
    <link rel="stylesheet" href="./css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="./css/app.css">
    <script src="./node_modules/modernizr/modernizr.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script>
      function updateTextInput(val) {
          document.getElementById('textInput').value=val;
        }
    </script>
    <style>
      .slidecontainer {
        width: 100%;
      }

      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }

      .slider:hover {
        opacity: 1;
      }

      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
      }

      .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
      }
  </style>
  </head>
  <body ng-app="app" ng-cloak ng-controller="mainCntrl">
    <div class="row">
      <div class="large-12 columns">
        <h2>Functional MRI of large scale activity in behaving mice</h2>
        <h5>A visualization of functional coupling between multiple brain areas in the lever operant conditioning task</h5>
        <hr/>
    </div>

    <div class="row" style="position:relative;">

      <aside class="large-2 small-4 columns panel">
        <h5>Correlation</h5>
        <ul class="side-nav">
          <li ng-repeat="year in years">
            <input ng-model="$parent.selected_year" type="radio" name="years"
                   ng-value="year" id="year_{{ year }}">
            <label for="year_{{ year }}">{{ year }}</label>
          </li>
        </ul>

        <h5>Threshold</h5>
          Value: <input type="number" step="{{step}}" min="{{min}}"
                        max="{{max}}" ng-model="value"><br>
      </aside>

      <div class="large-7 small-6 columns" role="content">
        <article>
          <chord-diagram></chord-diagram>
          <h6 class="text-center">
            <span>{{ selected_year }}</span> correlation
          </h6>
        </article>
      </div>

      <aside class="large-3 small-4 columns">
        <h5>Filters</h5>
        <button class="button tiny right" ng-click="filters = {}; hasFilters = false;">
          clear
        </button>
        <div class="panel">
          <div ng-if="hasFilters === false" style="margin: 15px; opacity: 0.5;">
            Click on a region label
          </div>
          <ul class="side-nav">
            <li ng-repeat="filter in filters">
              <input ng-model="filter.hide" id="{{ filter.name }}" type="checkbox">
              <label for="{{ filter.name }}">{{ filter.name }}</label>
            </li>
          </ul>
        </div>
      </aside>

      <fieldset id="tooltip" class="row secondary">
        <div class="large-12 small-12 columns">
          <h6>Correlation between {{ tooltip.sname }} and {{ tooltip.tname }} :  {{ qFormat(tooltip.svalue) }}</h6>
        </div>
      </fieldset>

    </div>

    <footer class="row">
      <div class="large-12 columns">
        <ul class="inline-list left">
          <li>Colors by <a target="_blank" href="http://en.wikipedia.org/wiki/Paul_Klee">Paul Klee</a></li>
          <li>Adapted from <a target="_blank" href="http://www.delimited.io/blog">delimited.io</a></li>
        </ul>
      </div>
    </footer>

    <script src="./node_modules/d3/d3.js"></script>
    <script src="./node_modules/foundation-sites/dist/js/foundation.js"></script>
    <script src="./js/mainController.js"></script>
    <script src="./js/matrixFactory.js"></script>
    <script src="./js/chordDirective.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
